<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Data</h1>
    <form action="" method="post">
        <output type="integer" name = "id" placeholder="ID" value="<%= item.id %>">
        <input type="text" name = "string" placeholder="String" value="<%= item.string %>">
        <input type="integer" name = "integer" placeholder="Integer" value="<%= item.integer %>">
        <input type="float" name = "float" placeholder="Float" value="<%= item.float %>">
        <input type="date" name = "date" placeholder="end date" value="<%= item.date %>">
        <input type="boolean" name = "boolean" placeholder="Choose the boolean" value="<%= item.boolean %>">
        <button type="submit">Save</button>
    </form>
    <a href="/">Kembali</a>
</body>
</html>